<div class="custom-container-2">

    <div class="no-data text-center" *ngIf="Todo.length == 0">
        <p>There is no todo added yet!</p>
        <input type="text" autofocus="" [(ngModel)]="todoDetails.content" class="todoinput" placeholder="What ToDo..?" (keyup.enter)="addTodo()">
        <button class="todobutton" (click)="addTodo()">Create Todo</button>
    </div>

    <div *ngIf="Todo.length !== 0">
        <h3 class="mb-3 text-center title">Todo List</h3>
        <input type="text" autofocus="" [(ngModel)]="todoDetails.content" class="todoinput" placeholder="What ToDo..?" (keyup.enter)="addTodo()">
        <button class="todobutton" (click)="addTodo()">Create Todo</button>
        <div class="">
            <table class="table align-middle table-hover">
                <thead>
                    <tr class="d-flex border-bottom border-dark">
                        <td class="flex-fill">Todo</td>
                        <td class="col-2 justify-content-end">Edit</td>
                        <td class="col-2 justify-content-end">Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of Todo" class="d-flex border-dark">
                        <td class="justify-content-start">
                            <label class="custom-checkbox">
                                <input type="checkbox" (click)="onToggleTodoDone(todo)" [checked]="todo.done">
                                <fa-icon [icon]="circle" class="unchecked"></fa-icon>
                                <fa-icon [icon]="checked" class="checked"></fa-icon>
                            </label>
                        </td>
                        <td class="main-content flex-fill" [class.done]="todo.done">{{todo.content}}</td>
                        <td class="col-2 justify-content-end">
                            <button class="edit" routerLink="/todo-edit/{{todo.id}}">
                                <fa-icon [icon]="edit" class="icon"></fa-icon>
                                <span class="edit-text">
                                    Edit
                                </span>
                            </button>
                        </td>
                        <td class="col-2 justify-content-end">
                            <button class="delete" (click)="deleteTodo(todo.id)">
                                <fa-icon [icon]="delete" class="icon"></fa-icon>
                                <span class="delete-text">
                                    Delete
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>