<div class="container custom-container-2">

    <div class="no-data text-center" *ngIf="Todo.length == 0">
        <p>There is no todo added yet!</p>
        <button class="todobutton" routerLink="/create-todo">Add Todo</button>
    </div>

    <div *ngIf="Todo.length !== 0">
        <h3 class="mb-3 text-center">Todo List</h3>
        <button class="todobutton" routerLink="/create-todo">Add Todo</button>

        <div class="col-md-12">
            <table class="table align-middle table-hover border-bottom border-dark">
                <thead>
                    <tr class="d-flex">
                        <td class="flex-fill">Todo</td>
                        <td class="justify-contnet-end">Edit</td>
                        <td class="justify-contnet-end">Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of Todo" class="d-flex">
                        <td class="justify-contnet-start">
                            <label class="custom-checkbox">
                                <input type="checkbox" (click)="onToggleTodoDone(todo)" [checked]="todo.done">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td class="content flex-fill" [class.done]="todo.done">{{todo.content}}</td>
                        <td class="col-2 justify-contnet-end">
                            <button class="edit" routerLink="/todo-edit/{{todo.id}}">
                                <i class="fontawesome-edit icon"></i>
                                <span class="button-text">
                                    Edit
                                </span>
                            </button>
                        </td>
                        <td class="col-2 justify-contnet-end">
                            <button class="delete" (click)="deleteTodo(todo.id)">
                                <i class="fontawesome-remove icon"></i>
                                <span class="button-text">
                                    Delete
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>