@mixin buttons {  
border: none;
outline: none;
border-radius: 5px;
height: 2.2rem;
width: 90%;
font-weight: bold;
}

@mixin mq() {
    @media (max-width: 575px) {
        &-text { display: none;}
        .icon { display: block;} 
        width: 2.2rem;
    }
}


.todobutton {
    background: #8cbe7f;
    margin-bottom: 1rem;
    @include buttons;

}

.cancel {
    background: #af5858;
    @include buttons;
}

.edit {
    background: #f7b73c;
    @include buttons;

    .icon {
        display: none;
    }

    @include mq();
}

.delete {
    background: #af5858;
    @include buttons;

    .icon {
        display: none;
    }

    @include mq();
}