.edit {
    display: block;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: colors.$btn-edit;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    color: colors.$txt-secondary;
    @include medium {
        width: 35px;
        height: 35px;
    }
}

.delete {
    display: block;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: colors.$btn-delete;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    color: colors.$txt-secondary;
    @include medium {
        width: 35px;
        height: 35px;
    }
}

.todobutton {
    display: block;
    width: 100%;
    border: none;
    margin-top: 20px;
    background: colors.$btn-primary;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.5s;
    color: colors.$txt-secondary;
}