.content {
    display: none;
}

.title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: colors.$txt-primary;
    letter-spacing: 1px;
}

.main-content {
    text-align: left;
    font-weight: 900;
}

.done {
    text-decoration: line-through;
    color: colors.$txt-through;
}