$bg-primary: #232528;
$btn-primary: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
$btn-secondary: #232528;
$btn-done: #833ab4;
$btn-edit: #fcb045;
$btn-delete: #fd1d1d;
$txt-primary: #000;
$txt-secondary: #EAF6FF;
$txt-through: rgb(128, 128, 128);