<div class="container custom-container">
    <div class="col-md-12">
        <div class="brand-logo"></div>
        <h3 class="mb-3 text-center title">Update ToDos</h3>

        <div class="todoform">
            <div class="form-group">
                <input type="text" [(ngModel)]="todoData.content" class="todoinput" placeholder="What ToDo..?" (keyup.enter)="updateTodo()">
            </div>
            <div class="form-group">
                <button class="todobutton" (click)="updateTodo()">Update Todos</button>
                <button class="todobutton" routerLink="/todo-list">Cancel</button>
            </div>
        </div>
    </div>
</div>