.todoform {
    text-align: left;
    margin-top: 30px;
}

.todoinput {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background: colors.$txt-secondary;
    padding-left: 15px;
    height: 50px;
    border-radius: 50px;
    -webkit-appearance: none;
}