/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://weloveiconfonts.com/api/?family=fontawesome');
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
    -webkit-appearance: none;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f100;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    margin: 0;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.custom-container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    margin-top: 1rem;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.custom-container-2 {
    position: relative;
    width: 650px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 20px;
    padding: 40px;
    margin-top: 3rem;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    background: url(./assets/todo.png) center/60% no-repeat;
}

.title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #323232;
    letter-spacing: 1px;
}

.todoform {
    text-align: left;
    margin-top: 30px;
}

.todoinput,
.todobutton {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.todoinput {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.todobutton {
    margin-top: 20px;
    background: #323232;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    color: #ecf0f3;
}

.todobutton:hover {
    box-shadow: none;
}

.content {
    text-align: left;
    font-weight: 900;
}

.edit,
.delete {
    display: block;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    background: #323232;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
    color: #ecf0f3;
}

.icon {
    display: none;
    font-style: normal;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 100%;
    height: 100%;
    border: 2px solid #222;
    display: inline-block;
    border-radius: 3px;
    background: #fff;
    transition: background-color 0.5s cubic-bezier(0.65, -0.24, 0.23, 1.22);
}

.custom-checkbox input:checked+.checkmark {
    background: #222 url(./assets/checkmark.png) center/80% no-repeat;
}

.custom-checkbox input {
    display: none;
}

td {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .custom-container-2 {
        width: 350px;
    }
    .edit,
    .delete {
        width: 35px;
        height: 35px;
    }
    .icon {
        display: block;
    }
    .button-text {
        display: none;
    }
}