/* You can add global styles to this file, and also import other style files */


/* Sass Imports */

@use 'assets/sass/variables/colors';
@import 'assets/sass/variables/media-queries';
@import 'assets/sass/components/containers.scss';
@import 'assets/sass/components/forms';
@import 'assets/sass/components/buttons';
@import 'assets/sass/components/others';

/* Other Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://weloveiconfonts.com/api/?family=fontawesome');
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


/* -------- */

body {
    margin: 0;
    background: colors.$bg-primary;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    font-family: poppins;
}

.brand-logo {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    background: colors.$bg-primary url(./assets/todo.png) center/60% no-repeat;
}


/* Custom checkbox */

.icon {
    display: none;
    font-style: normal;
    @include medium {
        display: block;
    }
}

.button-text {
    @include medium {
        display: none;
    }
}

.custom-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 100%;
    height: 100%;
    border: 1px solid colors.$btn-secondary;
    display: inline-block;
    border-radius: 15px;
    background: colors.$bg-primary;
    transition: background-color 0.5s cubic-bezier(0.65, -0.24, 0.23, 1.22);
}

.custom-checkbox input:checked+.checkmark {
    background: colors.$btn-done url(./assets/checkmark.png) center/60% no-repeat;
    border: colors.$btn-done;
}

.custom-checkbox input {
    display: none;
}


/* Custom checkbox end */

tbody {
    height: 300px;
    display: inline-block;
    width: 100%;
}

td {
    text-align: left;
}