<div class="container custom-container">
    <div class="col-md-12">
        <div class="brand-logo"></div>
        <h3 class="mb-3 text-center title">What ToDo?</h3>

        <div class="todoform">
            <div class="form-group">
                <input type="text" [(ngModel)]="todoDetails.content" class="todoinput" placeholder="What ToDo..?" (keyup.enter)="addTodo()">
            </div>
            <div class="form-group">
                <button class="todobutton" (click)="addTodo()">Create Todo</button>
                <button class="todobutton" routerLink="/todo-list">Todos List</button>
            </div>
        </div>
    </div>
</div>